%p.explanation.first
  En soumettant ce formulaire, vous nous demandez de faire partie du groupe "Strasbourg Startups". Nous souhaitons réellement intégrer à notre groupe toutes les startups de Strasbourg et environ. Nous souhaitons que ce groupe soit composé de vrais projets, pas de simples idées couchées sur des slides PowerPoint. C'est pourquoi, avant de valider définitivement l'adhésion de votre startup au groupe, nous vous demanderons de venir présenter votre projet durant l'une des prochains Demo Night. Une fois votre présentation effectuée, les membres actuels du groupe Strasbourg Startups, c'est-à-dire les fondateurs de toutes les startups ayant déjà été validé, décidera si vous pouvez (ou non) intégrer le groupe.
%p.explanation{style: "margin-bottom:0;"}
  %strong Quand va se tenir le prochain Demo Night/Demo Day ?
%p.explanation{style: "margin-top:0;"}
  Voir sur la
  = link_to "page d'actualités.", headlines_path
