%p.explanation.first
  By submitting this form, you will ask us to join the "French Tech Strasbourg" group. Notice that we deeply care about the quality of the entries: we only want startups, from Strasbourg and its surrounding area. We want real companies, not just an idea living its only life on a PowerPoint. That's why we'll ask you to come demo your product during one of our Demo Night/Demo Day. After your presentation, a council composed of all the founders already present in the directory will validate (or not) your proposal to be part of the directory.
%p.explanation{style: "margin-bottom:0;"}
  %strong When will be the next Demo Night/Demo Day?
%p.explanation{style: "margin-top:0;"}
  Check the
  = link_to "latest news.", headlines_path
