%p.explanation.first
  En soumettant ce formulaire, vous nous demandez de faire partie du groupe "Strasbourg Startups". Nous souhaitons réellement intégrer à notre groupe toutes les startups de Strasbourg et environ. Nous souhaitons que ce groupe soit composé de vrais projets, pas de simples idées couchées sur des slides PowerPoint. C'est pourquoi, avant de valider définitivement votre startup à participer à notre groupe, nous vous demanderons de venir présenter votre projet durant l'un des prochains Demo Day/Demo Night. Une fois votre présentation effectuée, le "comité des sages", composé des fondateurs de toutes les startups ayant déjà été validé, décidera si vous pouvez (ou non) intégrer le groupe Strasbourg Startups.
%p.explanation
  %strong Quand va se tenir le prochain Demo Night/Demo Day ?
%p.explanation.last
  Voir sur la
  = link_to "page d'actualités.", headlines_path
