%nav.navbar.welcome{class: controller.controller_name != "welcome" ? "small": nil}
  - if controller.controller_name == "welcome"
    %a.fa.fa-chevron-down.fa-2x.readnext{href: "#"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        = fa_icon "bars", style: "color:white;"

      - if controller.controller_name != "welcome"
        = link_to "Strasbourg Startups", root_path, class: "navbar-brand"
    = render "/shared/real_nav"
    - if controller.controller_name == "welcome"
      .row
        .col-xs-12
          .title.text-center Strasbourg Startups
          .subtitle.text-center= @page_description
