#navbarResponsive.collapse.navbar-toggleable-sm
  %ul.nav.navbar-nav.pull-right
    %li.nav-item{class: request.path.start_with?("/headlines") && "active"}
      = link_to I18n.t("views.nav.headlines"), headlines_path, class: "nav-link"
    %li.nav-item{class: controller.controller_name == "startups" && %w(index show).include?(controller.action_name) && "active"}
      = link_to I18n.t("views.nav.startups"), startups_path, class: "nav-link"
    - if false
      %li.nav-item.hide{class: request.path.start_with?("/events") && "active"}
        = link_to I18n.t("views.nav.events"), events_path, class: "nav-link"
    - page_about = Page.where(code: "about").first
    - if page_about
      %li.nav-item{class: @page == page_about && "active"}
        = link_to page_about.title, extra_page_path(page_about), class: "nav-link"
