- @page_title = @page.title
-# @og_image = @headline.banner.url if @headline.banner.file?

%section
  .container
    .row
      .col-12.col-md-8.mx-md-auto.col-lg-9
        %h1= @page.title
        = @page.body.html_safe

