- @page_title = "Page introuvable"

.row
  .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4{style: "padding-top:50px;"}
    %h1
      Page introuvable
    %p
      La page à laquelle vous avez tenté d'accéder n'existe pas ou a été déplacée.
    %p
      = link_to "Retour à l'accueil", root_path
