@import "common";

section {
  &.hero {
    background-position: center center;
    background-size: cover;
    min-height: 230px;
    height: 60vh;
    .title, .subtitle {
      color: white;
      text-shadow: 0 1px 0 black;
    }
    .subtitle {
      @extend .h3;
      font-weight: 300;
    }
  }
}

.card {
  .card-title {
    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  a {
    &:hover, &:focus {
      color: $brand-primary;
    }
  }
  &.startup {
    @extend .d-flex, .flex-column, .justify-content-center;
  }
}

.card-footer {
  border-top: 0;
  padding-top: 0;
}


footer {
  background-color: $brand-primary;
  color: white;
  a {
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }
}

.card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  .card {
    margin-right: 15px;
    margin-left: 15px;
  }
  &.headlines-list {
    .card {
      @include media-breakpoint-up(sm) {
        flex: 0 0 calc(100%)
      }
      @include media-breakpoint-up(md) {
        flex: 0 0 calc(100%/2 - 30px)
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 calc(100%/3 - 30px)
      }
    }
  }
  &.startups-list {
    .card {
      @include media-breakpoint-up(sm) {
        flex: 0 0 calc(100%)
      }
      @include media-breakpoint-up(md) {
        flex: 0 0 calc(100%/4 - 30px)
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 calc(100%/5 - 30px)
      }
    }
  }
}
