$brand-primary: #c80f53;
$headings-color: $brand-primary;
$theme-colors: (
  "primary": $brand-primary
);

@import "~bootstrap-material-design/scss/bootstrap-material-design";

.offcanvas-collapse {
  display: none;
}

@include media-breakpoint-down(sm) {
  .offcanvas-collapse {
    color: rgba(0,0,0,.87);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
    display: unset;
    &:before {
      background-color: rgba(0,0,0,.6);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      opacity: 0;
      content: "";
      will-change: opacity;
      transition: opacity;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    .drawer {
      background-color: white;
      box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
      left: 0;
      right: auto;
      height: 100%;
      transform: translateX(calc(-100% - 20px));
      will-change: transform;
      display: flex;
      position: absolute;
      flex-direction: column;
      box-sizing: border-box;
      width: calc(100% - 56px);
      max-width: 280px;
      overflow: hidden;
      touch-action: none;
      transition: transform;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    &.open {
      pointer-events: auto;
      &:before {
        opacity: 1;
      }
      .drawer {
        transform: none;
      }
    }
  }
}

.navbar {
  .navbar-brand {
    svg, img {
      height: 32px;
      width: auto;
    }
  }
}

.img-responsive-fixed-height {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.page-header {
  @extend .d-flex, .align-items-center, .mb-5, .pb-3;
  border-bottom: 1px solid $gray-200;
  .page-header__title {
    @extend .mb-0, .mr-auto;
  }
}

.bmd-form-group {
  border-radius: 4px;
  padding-top: 0;
  input.form-control, input.custom-file-control {
    padding: 0 8px;
  }
  textarea.form-control {
    padding: 8px 8px;
  }
  &.bg-light {
    background-color: #f1f3f4;
  }
  &.bmd-form-group-lg {
    padding-top: 0;
    input.form-control-lg {
      padding: 0 8px;
    }
  }
}

.checkbox.form-group.bmd-form-group {
  label {
    @extend .mb-0;
  }
}

.radio label, .is-focused .radio label, .radio-inline, .is-focused .radio-inline, .checkbox label, .is-focused .checkbox label, .checkbox-inline, .is-focused .checkbox-inline, .switch label, .is-focused .switch label {
  color: unset;
}

.radio label:hover, .radio label:focus, .radio label:active, .is-focused .radio label:hover, .is-focused .radio label:focus, .is-focused .radio label:active, .radio-inline:hover, .radio-inline:focus, .radio-inline:active, .is-focused .radio-inline:hover, .is-focused .radio-inline:focus, .is-focused .radio-inline:active, .checkbox label:hover, .checkbox label:focus, .checkbox label:active, .is-focused .checkbox label:hover, .is-focused .checkbox label:focus, .is-focused .checkbox label:active, .checkbox-inline:hover, .checkbox-inline:focus, .checkbox-inline:active, .is-focused .checkbox-inline:hover, .is-focused .checkbox-inline:focus, .is-focused .checkbox-inline:active, .switch label:hover, .switch label:focus, .switch label:active, .is-focused .switch label:hover, .is-focused .switch label:focus, .is-focused .switch label:active {
  color: unset;
}
