// = require_self
// = require_tree .

@import bootstrap
@import font-awesome

html
	height: 100%

.fill
	top: 58px
	left: 0
	right: 0
	bottom: 0
	position: fixed
	width: auto
	height: auto

body
	font-family: 'Open Sans', sans-serif
	height: 100%
	margin: 0
	padding-top: 58px
	padding: 0

nav
	font-family: 'Oswald', sans-serif
	top: 0
	left: 0
	right: 0
	height: 58px
	line-height: 58px
	position: fixed
	background-color: #97bf0b
	color: white
	text-align: center
	font-size: 32px
	font-weight: bold
	span
		color: white
	.add
		margin-right: 15px
		float: right

#map
	position: absolute
	height: 100%
	width: 80%
	float: left
	img
		max-width: none

#startups-panel
	height: 100%
	width: 20%
	float: right
	overflow-y: scroll
	overflow-x: hidden

.container-narrow
	padding-top: 58px
	padding-bottom: 10px
	max-width: 700px
	margin: 0 auto

p
	margin-top: 15px
	padding: 0
	&.name
		font-family: 'Oswald', sans-serif
		font-size: 14px
		font-weight: bold
		line-height: 18px

.template
	display: none

.startup-info
	span
		&.name
			font-family: 'Oswald', sans-serif
			font-size: 14px
			font-weight: bold
			line-height: 18px
		&.address
			font-style: italic

#wrap
	padding-top: 58px
	max-width: 1000px
	margin: 0 auto
	p
		&.address
			font-style: italic

#left-col
	margin-top: 100px
	float: left
	width: 400px

#right-col
	float: right
	width: 500px
