// = require_self
// = require_tree .

$mainColor: #97bf0b
$linkColor: $mainColor
$linkColorHover: lighten($mainColor, 10%)
$sansFontFamily: 'Droid Sans', sans-serif
$serifFontFamily: 'Droid Serif', serif
$monoFontFamily: 'Droid Sans Mono', sans-serif
@import bootstrap
@import bootstrap-responsive
@import font-awesome

html
  height: 100%

.fill
  top: 58px
  left: 0
  right: 0
  bottom: 0
  position: fixed
  width: auto
  height: auto

.hint
  display: block
  margin: -10px 0 10px 0
  font-style: italic

body
  margin: 0
  padding: 0
  &.map
    height: 100%
  &.content
    padding-top: 80px
nav
  font-family: 'Oswald', sans-serif
  top: 0
  left: 0
  right: 0
  height: 58px
  line-height: 58px
  position: fixed
  background-color: $mainColor
  color: white
  text-align: center
  font-size: 32px
  font-weight: bold
  text-decoration: none
  a, a:hover, a:focus
    text-decoration: none
  a.brand, a.brand:hover, a.brand:focus
    color: white
  span
    color: white
    transition: text-shadow 0.3s ease-in-out 0s
    &:hover
      text-decoration: none
      text-shadow: 1px 1px black
  .home
    margin-left: 25px
    float: left
  .add
    margin-right: 25px
    float: right
  .headlines
    margin-right: 15px
    float: right

p.explanation
  font-style: italic
  margin-top: 5px
  margin-bottom: 0
  &.last
    margin-bottom: 20px
  &.first
    margin-top: 20px

h1.startup_name
  font-family: 'Oswald', sans-serif

#map
  position: absolute
  height: 100%
  width: 80%
  float: left
  img
    max-width: none

#startups-panel
  height: 100%
  width: 20%
  float: right
  overflow-y: scroll
  overflow-x: hidden

.container-narrow
  padding-bottom: 10px
  max-width: 700px
  margin: 0 auto

p
  margin-top: 15px
  padding: 0
  &.name
    font-family: 'Oswald', sans-serif
    font-size: 14px
    font-weight: bold
    line-height: 18px

.template
  display: none

.startup-info
  span
    &.name
      font-family: 'Oswald', sans-serif
      font-size: 14px
      font-weight: bold
      line-height: 18px
    &.address
      font-style: italic

#wrap
  padding-top: 58px
  max-width: 1000px
  margin: 0 auto
  p
    &.address
      font-style: italic

#left-col
  margin-top: 100px
  float: left
  width: 400px

#right-col
  float: right
  width: 500px

#startups-panel
  ul.startups > li
    padding-left: 10px
    ul.links
      li
        padding: 0 5px 0 0

article
  .time
    float: left
    background-color: $mainColor
    color: white
    padding: 3px
    font-size: 20px
    line-height: 20px
    text-align: center
    width: 60px
    height: 60px
    margin-right: 15px
    margin-bottom: 5px
    .month
      font-weight: bold
      text-transform: uppercase
  .body
    margin-top: -14px
  h2
    display: inline
    float: left
    padding-right: 30px
    line-height: 31.5px
  h1
    display: inline
    line-height: 38.5px
    padding-right: 30px
  &.en
    h1, h2
      background: image-url('en_us_uk.png') no-repeat right top
  &.fr
    h1, h2
      background: image-url('fr.png') no-repeat right top

@media screen and (max-width: 767px)
  nav
    height: 35px
    font-size: 25px
    line-height: 25px
    padding-top: 3px
    .home
      margin-left: 5px
    .headlines
      margin-right: 5px
  .fill
    top: 35px
  #map
    height: 50%
    width: 100%
    float: none
  #startups-panel
    height: 50%
    width: 100%
    float: none
  p
    margin-top: 5px
    margin-bottom: 0
  ul.startups > li
    margin-top: 10px

  body.content
    .row, .container-narrow
      padding: 0 5px

